body {
	margin: 0;
	background-color: black;
	overflow: hidden;

}
h1, h2,h3,h4,h5,h6, p {
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 300;
    color: white;
}

.vignette-top {
    position: absolute;
    box-shadow: inset 0px 125px 80px -80px rgba(0,0,0,0.75);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.vignette-bottom {
    position: absolute;
    box-shadow: inset 0px -125px 80px -80px rgba(0,0,0,0.75);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

}

#time {
    /*font-family: 'Josefin Sans', sans-serif;*/
    left: 0;
    line-height: 340px;
    margin: auto;
    margin-top: -150px;
    position: absolute;
    bottom: -480px;
    width: 100%; 
    text-align: center;
    font-size: 360px;
    font-weight: 300;

}

#date {
    left: 0;
    line-height: 60px;
    margin: auto;
    margin-top: -500px;
    position: absolute;
    bottom: -520px;
    width: 100%; 
    text-align: center;
    font-size: 60px;
    color: #BDBDBD; 
}


img {
    display: none;
}
#house {
    display: block;
    position: absolute;
    right: 80px;
    bottom: 50px;
    width: 500px;
    height: 500px;
}

#rhouse {
    display: block;
    position: absolute;
    right: 100px;
    top: 50px;
    width: 500px;
    height: 500px;
}



#weather {    
    z-index:5;
    position: absolute;
    top: -1280;
    left: 0;
    height: 1920px;
    width: 1080px;
    -webkit-transition: top 1s; 
    transition: top 1s;
}

#feed {
    position: absolute;
    top: 1280px;
    left: 48px;
    width: 984px;  
    -webkit-transition: top 1s; 
    transition: top 1s;
}
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
a:active {
    color: white;
    text-decoration: none;
}

.grid-item {
    /*float: left;*/
    width: 318px;
    height: auto;
    margin: 5px;
    overflow: hidden;
    max-height: 500px;
    line-height: 1.6em;
}

.grid-item p {
    line-height: 1.2em;
}

.line {    
    margin: 0 10px 0 0px;
    background-color: #f2f2f2;
    height: 2px;
    width:308px;
}

.rss-title {
    font-weight: 700;
}

#maindeg {
    display: block;
    position: absolute;
    width:500px;
    text-align: left;
    left: 115px;
    bottom: -165px;
    font-size: 170px;
}

#city {
    display: block;
    position: absolute;
    width:500px;
    text-align: left;
    left: 108px;
    bottom: 170px;
    /*font-size: 300px;*/
}

#intemp {
    display: block;
    position: absolute;
    width:500px;
    text-align: center;
    right: 80px;
    bottom: 35px;
    font-size: 130px;
}

#inhum {
    display: block;
    position: absolute;
    width:500px;
    text-align: center;
    right: 80px;
    bottom: 20px;
    font-size: 80px;
}
#weatherline {
    position: absolute;
    margin: 0 80px 0 80px;
    background-color: #f2f2f2;
    height: 3px;
    width:920px;
    bottom:-10px;
    left: 0; 
}

.trans {
    top:0;
}

.forecast {
    position: absolute;
    width: 320px;
    height: 320px;
    border-style: solid;
    border-color: #ffffff;
}

.for-zero {
    top: 640px;
    left: 48px;
}
.for-one {
    top: 640px;
    left:380px;
}
.for-two {
    top: 640px;
    left: 712px;
}
.for-three {
    top: 960px;
    left: 214px;
}
.for-four {
    top: 960px;
    left:546px;
}

.forecast .day {
    position: absolute;
    width: 100%;
    text-align: center;
    top:-85px;
    left: 0;
    font-size: 80px;
}

.forecast .div {
    position: absolute;
    width:2px;
    top:110px;
    left: 159px;
    height: 100px;
    background-color: white;
}
.forecast .left {
    position: absolute;
    width:50%;
    top:80px;
    left: -10px;
    text-align: right;
    font-size: 50px;
    line-height: 1.2em;
    color: #E0E0E0;
}
.forecast .right {
    position: absolute;
    width:50%;
    top:80px;
    left: 170px;
    text-align: left;
    font-size: 50px;
    line-height: 1.2em;
    color: #E0E0E0;
}








